<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="TestNG Suite"
	annotations="JDK" parallel="tests">

	<test name="WeatherAPITest">
		<classes>
			<class name="com.assessment.qatechassessment.WeatherAPITest" />
		</classes>
	</test>

	<test name="ServiceNSWTest">
		<classes>
			<class name="com.assessment.qatechassessment.ServiceNSWTest" />
		</classes>
	</test>

</suite>